@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

html {
font-family: 'Noto Sans', sans-serif;
overflow: hidden;
}

body {
	margin: 0;
background-image: url('background.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%; 
}

#main {
	padding: 16px;
}

  .content {
	display: block;
	margin-top: 7%;
	height: 20%;
	min-width: 95%;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: 2.5%;
	background-color: #545454;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
}

.contentLowerMobile {
	width: 98%;
	height: 15%;
	background-color: #545454;
	bottom: 0;
	position: absolute;
	margin: 1%;
}

#content-1 {
	margin-top: 7%;
}

#content-2 {
	margin-top: 47%;
}	

#content-3 {
	margin-top: 87%;
}
 

.smolContent {
	margin: 2%;
	background-color: #434242;
	position: absolute;
	width: 96%;
	min-height: 96%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	color: white;
}

.littleContent {
	margin: 1%;
	padding-top: 0;
	background-color: #434242;
	position: absolute;
	width: 98%;
	height: 75%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	color: white;
	line-height: 0.4;
}

#navbar  {
	top: 0;
	width: 100%;
	min-height: 60px;
	max-height: 65px;
	position: fixed;
	margin: 0;
	padding-top: 0;
	z-index: 15;
	background-image: url('navbar.png');
	background-size: 100% 100%; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline;
}

#navElements {
	margin: 0;
	padding: 0;
}

#icon {
	margin: 0;
	padding: 0;
}

#title {
	margin-top: 1%;
	margin-left: 3%;
	color: white;
}


.contentLeft {
	margin-top: 7%;
	width: 30%;
	position: fixed;
	height: 65%;
	float: left;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: 2.5%;
	background-color: #545454;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contentCentre {
	margin-top: 7%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 30%;
	height: 65%;
	float: center;
	left: 35%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #545454;
	position:fixed;
}

.contentRight {
	margin-top: 7%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 30%;
	height: 65%;
	right: 0;
	float: right;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #545454;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
}

.contentLower {
	width: 98%;
	height: 15%;
	background-color: #545454;
	bottom: 0;
	position: absolute;
	margin: 1%;
}

#playerList {
	display: none;
	width: 100%;
	height: calc(100% - 60px);
	bottom: 0;
	z-index: 10;
	background-color: #111110;
	position: fixed;
	color: white;
}

#list {
	width: 60%;
	height:80%;
	float: left;
	position: absolute;
	margin: 10px;
	overflow-y: auto;
	padding-left: 0;
	text-align: center;
}

#playerInfo {
	width: 30%;
	height: 80%;
	float: right;
	position: absolute;
	margin: 16px;
	right: 0;
	background-color: #545454;
	border-radius: 5px;
	border-color: #434242;
	border-width: 0px;
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;
}

.image {
	max-width: 100%;
}

#infoTable {
	width: 100%;
	float: center;
	position: relative;
	margin-left: 50%;
	margin-right: 50%;
}

tr {
	width: 100%;
}

.playerButton {
	width: 48%;
	border-width: 5px;
	border-color: black;
	background-color: #545454;
	color: white;
	margin-bottom: 10px;
	float: left;
	margin-left: 10px; 
	
}

#leWorldSpin {
	float: center;
}

